In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Picking the random number to pick the bank to analyze

In [15]:
import random
# Setting a random seed for reproducibility
gtid = 903835492
random.seed(gtid)
# Generating a random number between 1 and 25
random_number = random.randint(1, 25)
random_number

2

<h3> Number 2 referes to Bank of America which we will be Analyzing going forward </h3>

## Note: Please refer to the scrape.py script attached to this assignment it has code for scraping yahoo finance using selenium

## Institutional Holding

In [59]:
import yfinance as yf

# Create a ticker object
ticker = yf.Ticker("BAC")

# Get institutional holders
institutional_holders = ticker.get_institutional_holders()
institutional_holders.head(20)

,Holder,Shares,Date Reported,% Out,Value
0,"Berkshire Hathaway, Inc",1032852006,2023-06-29,0.1305,28610001354
1,Vanguard Group Inc,609510482,2023-06-29,0.0770,16883440816
2,Blackrock Inc.,475294291,2023-06-29,0.0601,13165652223
3,State Street Corporation,286796797,2023-06-29,0.0362,7944271495
4,"FMR, LLC",206490756,2023-06-29,0.0261,5719794098
5,JP Morgan Chase & Company,149382081,2023-06-29,0.0189,4137883757
6,"Geode Capital Management, LLC",127236515,2023-06-29,0.0161,3524451562
7,Morgan Stanley,112299216,2023-06-29,0.0142,3110688368
8,Price (T.Rowe) Associates Inc,106624795,2023-06-29,0.0135,2953506902
9,Norges Bank Investment Management,103760365,2022-12-30,0.0131,2874162189

## Mutual Fund Holders

In [65]:
# Get mutual fund holders
mutualfund_holders = ticker.get_mutualfund_holders()
mutualfund_holders.head(20)

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,211142103,2023-06-29,0.0267,5848636414
1,Vanguard 500 Index Fund,165076337,2023-06-29,0.0209,4572614660
2,Fidelity 500 Index Fund,79427248,2023-08-30,0.0100,2200134830
3,SPDR S&P 500 ETF Trust,77721248,2023-09-29,0.0098,2152878628
4,iShares Core S&P 500 ETF,65380887,2023-09-29,0.0083,1811050619
5,Vanguard Index-Value Index Fund,58850537,2023-06-29,0.0074,1630159919
6,Vanguard Institutional Index Fund-Institutiona...,47328664,2023-06-29,0.0060,1311004028
7,Select Sector SPDR Fund-Financial,45859314,2023-09-29,0.0058,1270303032
8,Vanguard Whitehall Funds-High Dividend Yield I...,31372356,2023-07-30,0.0040,869014285
9,Dodge & Cox Stock Fund,28999900,2023-06-29,0.0037,803297252

## Non Institutional Investors

In [64]:
import yfinance as yf

# Create a ticker object for the desired stock
ticker = yf.Ticker("BAC")

# Get institutional holders
institutional_holders = ticker.get_institutional_holders()

# Calculate the total percentage of institutional ownership
total_institutional_ownership = (institutional_holders['% Out'] * 100).sum() 
total_mutual_fund_ownership = (mutualfund_holders['% Out']*100).sum()
# Calculate non-institutional ownership
non_institutional_ownership = 100 - total_institutional_ownership - total_mutual_fund_ownership

print(f"Non-Institutional Ownership: {non_institutional_ownership}%")

Non-Institutional Ownership: 49.17%

## Insider Ownership

Based on the SEC Edgar Data(Form-3 and Form-4) we have the following Details about the Insider Ownership
The insider trading information from the SEC Form 4 for Drone USA Inc. indicates two transactions:

1.  First Transaction (05/18/2018)

    -   Security: Common Stock
    -   Transaction Date: 05/18/2018
    -   Transaction Code: P (Purchase)
    -   Amount: 75,000 shares
    -   Price: $0.0299 per share
    -   Amount of Securities Beneficially Owned Following Transaction: 37,631,591 shares
    -   Ownership Form: Direct (D)
2.  Second Transaction (05/18/2018)

    -   Security: Common Stock
    -   Transaction Date: 05/18/2018
    -   Transaction Code: P (Purchase)
    -   Amount: 40,000 shares
    -   Price: $0.0285 per share
    -   Amount of Securities Beneficially Owned Following Transaction: 37,671,591 shares
    -   Ownership Form: Direct (D)

Both transactions are purchases of common stock by an insider, with a subsequent increase in the number of shares beneficially owned

## Insider Ownership Buy/ Sell

In [66]:
id = pd.read_excel('insider-holding.xlsx')
id.head()

  Insider Purchases Last 6 Months  Shares  Trans
0                       Purchases  478908   22.0
1                           Sales  152806    2.0
2     Net Shares Purchased (Sold)  326102   24.0
3       Total Insider Shares Held   8.78M    NaN
4   % Net Shares Purchased (Sold)   0.038    NaN

<h4> We can clearly see the more insiders have bought more shares than sell shares as the net share trasnastions 
    is arround 326K shares which is the differnece between Shares sold and bought by investors </h4>